body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(231, 231, 231);
}

.container {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 500px;
  height: fit-content;
  padding: 0 20px;
  border: 2px solid red;
  border-radius: 7px;
  background-color: white;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}
h1:after{
  content: '';
  position: absolute;
  width: 250px;
  bottom: 140px;
  height: 1px;
  left: 25%;
  background-color: rgb(204, 201, 201);
}